{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Entrar no controle de estoque {% endblock %}

{% block css %}
<style>
    .row{
        padding-top: 120px;
    }
    .change-form-p{
        margin-top: 30px;
        text-align: center;
    }


</style>
{% endblock css %}

{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h3 class="card-title text-center">Entrar no controle de estoque</h3>
                <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
            
                        {{ form|crispy }}
    
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>

                    <p class="change-form-p">Criar nova conta? <a href="/accounts/register">Vamos lá!</a></p>
            </div>
        </div>

    </div>
</div>

{% endblock %}